# OSX
.DS_Store

# IDE
.idea
.vscode

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Electron build output
dist/
dist-electron/
out/
build/

# Electron-builder output
release/

# Testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Environment variables
.env
.env.local

en_US*
en_GB*

whisper.cpp